@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<title>@ViewBag.Title</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div class="min-vw-100 min-vh-100 bg-light">
  <div class="container">
  <header class="row">
    <h1>@ViewBag.Welcome</h1>
  </header>
  <main class="row">
    <h2>Item Routes</h2>
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th>
            Endpoint
          </th>
          <th>
            Request Verb
          </th>
          <th>
            Request Body
          </th>
          <th>
            Response Data
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/api/items</td>
          <td style="background-color:@ViewBag.grey">GET</td>
          <td>None</td>
          <td>
            {
            id : string,
            name : string,
            price : float,
            category : string,
            createDate : string
            }
          </td>
        </tr>
        <tr>
          <td>
            /api/items/
            <p>
              <b>Protected route Admin Rights needed</b>
            </p>
          </td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
            {
            category : string,
            name : string,
            price : float
            }
          </td>
          <td>
            {
            id : string,
            name : string,
            price : float,
            category : string,
            createDate : string
            }
          </td>
        </tr>
        <tr>
          <td>/api/items/:id</td>
          <td><span style="background-color:@ViewBag.grey">GET</span></td>
          <td>None</td>
          <td>
            {
            id : string,
            name : string,
            price : float,
            category : string,
            createDate : string
            }
          </td>
        </tr>
        <tr>
          <td>
            /api/items/:id
            <p><b>Protected route Admin Rights needed</b></p>
          </td>
          <td style="background-color:@ViewBag.grey">PUT</td>
          <td>
            {
            category : string,
            name : string,
            price : float
            }
          </td>
          <td>
            {
            id : string,
            name : string,
            price : float,
            category : string,
            createDate : string
            }
          </td>
        </tr>
      </tbody>
    </table>
    <h2>User Routes</h2>
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th>
            Endpoint
          </th>
          <th>
            Request Verb
          </th>
          <th>
            Request Body
          </th>
          <th>
            Response Data
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/api/user</td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
            {
             username : string,
             email : string,
             password : string
            }
            </td>
          <td>
            {
            id : string,
            username : string,
            email : string,
            wallet : float,
            inventory : {
                items: [{Item}]
              }
            }
          </td>
        </tr>
        <tr>
          <td>
            /api/user/login
          </td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
            {
             email : string,
             password : string
            }
          </td>
          <td>
            {
            id : string,
            username : string,
            email : string,
            wallet : float,
            inventory : {
                items: [{Item}]
              }
            }
          </td>
        </tr>
        <tr>
          <td>
            /api/user/remove
          </td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
            {
             email : string,
             password : string
            }
          </td>
          <td>
            None
          </td>
        </tr>
        <tr>
          <td>
            /api/user/update/:id
          </td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
            {
             email : string,
             username : string,
             wallet : float
            }
          </td>
          <td>
            {
            id : string,
            username : string,
            email : string,
            wallet : float,
            inventory : {
                items: [{Item}]
              }
            }
          </td>
        </tr>
        <tr>
          <td>
            /api/user/inventory/:id/add/
          </td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
            {
            id : string,
            name : string,
            price : float,
            category : string,
            createDate : string
            }
          </td>
          <td>
            {
            id : string,
            username : string,
            email : string,
            wallet : float,
            inventory : {
                items: [{Item}]
              }
            }
          </td>
        </tr>
        <tr>
          <td>
            /api/user/inventory/:id/remove/:itemId
          </td>
          <td style="background-color:@ViewBag.grey">POST</td>
          <td>
              None
          </td>
          <td>
            {
            id : string,
            username : string,
            email : string,
            wallet : float,
            inventory : {
                items: [{Item}]
              }
            }
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  <footer class="fixed-bottom">
    <p class="ml-3">made by <a href="https://www.nilesbingham.one" target="_blank">niles87</a> © @ViewBag.Year</p>
  </footer>

</div>
</div>


